
.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board {
  background: #14C;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.cell {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #03A;
}

.letter {
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  margin: 3px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background: #EEE;
  color: #222;
  transition: background-color 0.2s;
}

.used {
  background: yellow;
  opacity: .875;
}

.last {
  background: yellow;
}

.available {
  background: orange;
}

.letter:hover {
  cursor: pointer;
}

.index {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: red;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  left: 2px;
}

.invalid {
  color: red;
}
