
.App {
  z-index: 1;
}

input {
  background: #DEF;
  outline: none;
  border: none;
  padding: 6px;
  border-radius: 4px;
}

.Play, .Join, .Start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.Join, .Start {
  flex-direction: column;
  align-items: center;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  max-width: calc(100vw - 5px);
  max-height: calc(100vh - 5px);
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.link a, .link p {
  color: #DEF;
  text-decoration: none;
  white-space: nowrap;
  z-index: 2;
  margin: 0 24px;
  transition: color 0.2s;
}

.link a:hover, .link p:hover {
  color: #FFF;
  /* text-decoration: underline; */
}

.start {
  top: 40vh;
  height: 10vh;
  width: 100%;
  padding: 0 50%;
  font-size: 36px;
  opacity: 1;
}

.end {
  width: 10%;
  padding: 0;
  height: 32px;
  opacity: 0.5;
}

.Join .end {
  opacity: 0;
}

.user {
  color: #DEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px;
}

.user input {
  border: 3px solid #DEF;
  background: rgba(255, 255, 255, 0.1);
  color: #DEF;
  padding: 8px;
  font-size: 24px;
  text-align: center;
}

.Start .user {
  margin: 98px;
}

.link-shadow {
  position: fixed;
  background-image: radial-gradient(black, transparent, transparent);
  transition: 0.6s;
  z-index: 1;
}

.start .link-shadow {
  top: -100vh;
  bottom: -100vh;
  left: -100vw;
  right: -100vw;
  opacity: 1;
}

.end .link-shadow {
  top: 0;
  left: 0;
  right: 100vw;
  bottom: 100vh;
  opacity: 0;
}

#background {
  position: fixed;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  background: #101838;  
  z-index: -2;
}

#background-cover {
  position: fixed;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.5));
  z-index: -1;
}

.left {
  height: calc(100vh - 32px);
  width: 50%;
  padding: 16px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#divider {
  margin: -16px;
}

.right {
  position: relative;
  height: calc(100vh - 64px);
  width: 50%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
}

.header {
  width: calc(100% - 32px);
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  background: #159;
  padding: 16px;
  border-radius: 8px;
}

.body {
  margin: 16px 0;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  /* background: #EEE; */
  background: #DEF;
}

.right button {
  /* background: #EA2; */
  background: #159;
  color: #DEF;
  /* color: #FC0; */
  padding: 6px;
  margin: 4px;
  border-radius: 4px;
  font-weight: bold;
}

.buttons {
  background: #159;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button, .header button {
  background-image: linear-gradient(20deg, #DA2, #FD2);
  color: #222;
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
  width: 130px;
}

.right-buttons {
  display: flex;
  flex-direction: column;
}

.right-buttons button {
  margin: 0;
  margin-bottom: 8px;
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
}

.right-buttons button:hover {
  cursor: pointer;
}

button.word {
  animation-name: new-word-pulse;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

button.valid {

}

button.defined {
  background: #0C2;
  color: #222;
}

button.undefined {
  background: red;
  color: #222;
}

button.selected {
  opacity: 0.675;
}

button.untested {
  background: #159;
  color: #DEF;
}

button.invalid {
  color: red;
}

.validating button.word {
  opacity: 0.5;
  /* background: white; */
  animation-name: button-pulse;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.validating button.word:nth-of-type(6n - 5) {
  animation-delay: 0
}

.validating button.word:nth-of-type(6n - 4) {
  animation-delay: 0.1s;
}

.validating button.word:nth-of-type(6n - 3) {
  animation-delay: 0.2s;
}

.validating button.word:nth-of-type(6n - 2) {
  animation-delay: 0.3s;
}

.validating button.word:nth-of-type(6n - 1) {
  animation-delay: 0.4s;
}

.validating button.word:nth-of-type(6n) {
  animation-delay: 0.5s;
}

#board {
  background: #159;
  border-radius: 8px;
  /* width: 400px; */
  /* height: 400px; */
  width: calc(300px + 400 * (100vw - 769px) / 2048);
  height: calc(300px + 400 * (100vw - 769px) / 2048);
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.cell {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #03A;
}

.letter {
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  margin: 3px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  /* background-image: radial-gradient(circle, #EEE 65%, #AAA, #444); */
  /* background: #EEE; */
  background: #DEF;
  color: #222;
  transition: 0.2s;
}

.used {
  background: yellow;
  opacity: .875;
  animation: pulse 0.2s 1;
}

.last {
  background: yellow;
  animation: pulse 0.2s 1;
}

.available {
  background: orange;
  animation: pulse 0.2s 1;
}

.letter:hover {
  cursor: pointer;
}

.index {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  /* background: red; */
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  left: 2px;
}



.games {
  display: flex;
  flex-direction: column;
}

.game {
  background: #DEF;
  padding: 16px 24px;
  border-radius: 8px;
  margin: 8px;
}




@media(max-width: 768px) {
  .App {
    flex-flow: column nowrap;
  }
  .left {
    /* width: 100%; */
    width: calc(100% - 64px);
  }
  .right {
    /* width: 100%; */
    width: calc(100% - 64px);
    overflow: auto;    
  }
}




@keyframes pulse {
  from {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    margin: 3px;
  }
  50% {
    height: calc(100% - 3px);
    width: calc(100% - 3px);
    margin: 1.5px;
  }
  to {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    margin: 3px;
  }
}

@keyframes small-pulse {
  from {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    margin: 3px;
  }
  50% {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    margin: 2px;
  }
  to {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    margin: 3px;
  }
}

@keyframes button-pulse {
  from {
    padding: 6px;
    margin: 4px;
  }
  50% {
    padding: 8px;
    margin: 2px;
  }
  to {
    padding: 6px;
    margin: 4px;
  }
}

@keyframes new-word-pulse {
  from {
    padding: 6px;
    margin: 4px;
  }
  50% {
    padding: 7px;
    margin: 3px;
  }
  to {
    padding: 6px;
    margin: 4px;
  }
}
