
.App {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.left {
  height: calc(100vh - 32px);
  width: 50%;
  padding: 16px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  position: relative;
  height: calc(100vh - 32px);
  width: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.header {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #14C;
  padding: 16px;
  border-radius: 8px;
}

.body {
  margin: 16px 0;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  background: #EEE;
}

.right button {
  background: #EA2;
  padding: 6px;
  margin: 4px;
  border-radius: 4px;
  font-weight: bold;
}

.buttons {
  background: #14C;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button, .header button {
  background-image: linear-gradient(80deg, #DA2, #FD2);
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
  width: 130px;
}

button.selected {
  background: #EC2;
}

#board {
  background: #14C;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.cell {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #03A;
}

.letter {
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  margin: 3px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background: #EEE;
  color: #222;
  transition: 0.2s;
}

.used {
  background: yellow;
  opacity: .875;
  animation: pulse 0.2s 1;
}

.last {
  background: yellow;
  animation: pulse 0.2s 1;
}

.available {
  background: orange;
  animation: pulse 0.2s 1;
}

.letter:hover {
  cursor: pointer;
}

.index {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: red;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  left: 2px;
}

.invalid {
  color: red;
}







@keyframes pulse {
  from {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    margin: 3px;
  }
  50% {
    height: calc(100% - 3px);
    width: calc(100% - 3px);
    margin: 1.5px;
  }
  to {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    margin: 3px;
  }
}

@keyframes small-pulse {
  from {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    margin: 3px;
  }
  50% {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    margin: 2px;
  }
  to {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    margin: 3px;
  }
}
